<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
    <div class="nombre-sitio">
        <h1>
            <a href="/">CodeCareer</a>
        </h1>

        {{#if barra}}
            <div class="buscador">
                <form action="/buscador" method="POST">
                    <input type="text" name="q" class="buscar">
                    <input type="submit" value="Buscar">
                </form>
            </div>
        {{/if}}

        {{#if cerrarSesion}}
            <div class="cerrar-sesion">
                <p>Hola, {{nombre}}</p>
                {{#if imagen}}
                    <img src="/uploads/perfiles/{{imagen}}" class="admin-perfil">
                {{/if}}
                <a href="/administracion">Administración</a>
                <a href="/cerrar-sesion">Cerrar Sesión</a>
            </div>
        {{/if}}
    </div>

    <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>
        <div class="caja_vacante">
            <p class="nombre_emnpresa">{{vacante.empresa}}</p>-
            <p class="nombre_ubicacion_vacante">{{vacante.ubicacion}}</p>
        </div>
        {{#if tagline}}
            <p class="tagline">{{tagline}}</p>
        {{/if}}

        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
        {{/if}}
    </header>

    <div class="contenido-principal contenedor">
        {{#if mensajes}}
            <div class="alertas">
                {{{mostrarAlertas mensajes}}}
            </div>
        {{/if}}
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js"></script>
    
    {{#if cargarShowMore}}
        <script src="/js/showMore.js"></script>
    {{/if}}

    <script src="/dist/app.bundle.js" defer></script>
    <script src="/dist/alert.bundle.js" defer></script>
    
</body>
</html>
