<main>
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <div class="content-info">
            <h3>Información General</h3>
            <div class="campo">
                <label>Titulo</label>
                <input type="text" name="titulo" placeholder="ejemplo: Full Stack Developer" value="{{vacante.titulo}}">
            </div>
            <div class="campo">
                <label>Empresa</label>
                <input type="text" name="empresa" placeholder="Empresa Contrata" value="{{vacante.empresa}}">
            </div>
            <div class="campo">
                <label>Ubicación</label>
                <input type="text" name="ubicacion" placeholder="ejemplo: Madrid, Barcelona o Remoto" value="{{vacante.ubicacion}}">
            </div>
            <div class="campo">
                <label>Salario (EU)</label>
                <input type="text" name="salario" placeholder="ejemplo: 1500€" value="{{vacante.salario}}">
            </div>
            <div class="campo">
                <label>Contrato</label>
                <select name="contrato">
                    {{#tipoContrato vacante.contrato}}
                        <option value="" disabled selected>-- Selecciona --</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="Por Proyecto">Por Proyecto</option>
                        <option value="Freelance">Freelance</option>
                        <option value="Temporal">Contrato Temporal</option>
                        <option value="Practicas">Contrato de Prácticas</option>
                    {{/tipoContrato}}
                </select>
            </div>
            <div class="campo">
                <label>Categoria</label>
                <select name="categoria">
                    <option value="" disabled>-- Selecciona --</option>
                    <option value="Frontend" {{#if (eq vacante.categoria "Frontend")}}selected{{/if}}>Frontend</option>
                    <option value="Backend" {{#if (eq vacante.categoria "Backend")}}selected{{/if}}>Backend</option>
                    <option value="FullStack" {{#if (eq vacante.categoria "FullStack")}}selected{{/if}}>FullStack</option>
                    <option value="Mobile" {{#if (eq vacante.categoria "Mobile")}}selected{{/if}}>Mobile</option>
                    <option value="UI/UX" {{#if (eq vacante.categoria "UI/UX")}}selected{{/if}}>UI/UX</option>
                    <option value="DevOps" {{#if (eq vacante.categoria "DevOps")}}selected{{/if}}>DevOps</option>
                    <option value="Cloud" {{#if (eq vacante.categoria "Cloud")}}selected{{/if}}>Cloud</option>
                </select>
            </div>
            <div class="campo">
                <label>Experiencia</label>
                <input type="text" name="experiencia" placeholder="ejemplo: de 2 a 4 años" value="{{vacante.experiencia}}">
            </div>
            <div class="campo">
                <label>Nivel</label>
                <select name="nivel">
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="Intern" {{#if (eq vacante.nivel "Intern")}}selected{{/if}}>Intern</option>
                    <option value="Junior" {{#if (eq vacante.nivel "Junior")}}selected{{/if}}>Junior</option>
                    <option value="Mid-Level" {{#if (eq vacante.nivel "Mid-Level")}}selected{{/if}}>Mid-Level</option>
                    <option value="Senior" {{#if (eq vacante.nivel "Senior")}}selected{{/if}}>Senior</option>
                    <option value="Lead" {{#if (eq vacante.nivel "Lead")}}selected{{/if}}>Lead</option>
                    <option value="Manager" {{#if (eq vacante.nivel "Manager")}}selected{{/if}}>Manager</option>
                    <option value="Director" {{#if (eq vacante.nivel "Director")}}selected{{/if}}>Director</option>
                </select>
            </div>
        </div>

        <div class="content-info">
            <h3>Descripción del Puesto</h3>
            <div class="campo descripcion">
                <input type="hidden" id="x" name="descripcion" value="{{{vacante.descripcion}}}">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>     

        <div class="content-info">
            <h3>Conocimientos</h3>
            <ul class="lista-conocimientos">
                {{#seleccionarSkills vacante.skills}}
                {{/seleccionarSkills}}
            </ul>
        </div>

        <div class="campo centrar-horizontal">
            <button type="button" id="show-more-btn" class="btn btn-azul">Ver más</button>
            <input type="hidden" name="skills" id="skills" value="{{vacante.skills}}">
            <input type="submit" value="Guardar cambios" class="btn btn-azul">
