<div class="contenido-superior vacante_portal contenedor">
    <div class="box-vacante">
        <div class="caja_vacante_items">
            <p class="etiqueta">Experiencia</p>
            <p class="nombre">{{vacante.experiencia}}</p>
        </div>
        <div class="caja_vacante_items">
            <p class="etiqueta">Nivel</p>
            <p class="nombre">{{vacante.nivel}}</p>
        </div>

        <div class="caja_vacante_items">
            <p class="etiqueta">Contrato</p>
            <p class="nombre">{{vacante.contrato}}</p>
        </div>
        <div class="caja_vacante_items">
            <p class="etiqueta">Salario</p>
            <p class="nombre">{{vacante.salario}}</p>
        </div>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del puesto</h2>
        <div class="vacante-descripcion">
            {{{vacante.descripcion}}}
        </div>
        
        <a href="/vacantes/editar/{{vacante.url}}" class="btn btn-azul editar-btn">Editar oferta</a>
    </main>
         <aside class="sidebar">
            <h2>Conocimientos Deseados</h2>
            <ul class="skills">
                {{#each vacante.skills}}
                    <li class="skills-vacante">{{this}}</li>
                {{/each}}
            </ul>
        </aside>  
</div>
{{!-- <script src="/dist/bundle.js"></script> --}}
