<div class="contenido-superior vacante_portal contenedor">
    <div class="box-vacante">
        <div class="caja_vacante_items">
            <p class="etiqueta">Experiencia</p>
            <p class="nombre">{{vacante.experiencia}}</p>
        </div>
        <div class="caja_vacante_items">
            <p class="etiqueta">Nivel</p>
            <p class="nombre">{{vacante.nivel}}</p>
        </div>

        <div class="caja_vacante_items">
            <p class="etiqueta">Contrato</p>
            <p class="nombre">{{vacante.contrato}}</p>
        </div>
        <div class="caja_vacante_items">
            <p class="etiqueta">Salario</p>
            <p class="nombre">{{vacante.salario}}</p>
        </div>
    </div>
</div>

<div class="vacante-contenedor contenedor">
    <main class="contenido">
        <h2>Descripción del puesto</h2>
        <div class="vacante-descripcion">
            {{{vacante.descripcion}}}
        </div>
        
        <a href="/vacantes/editar/{{vacante.url}}" class="btn btn-azul editar-btn">Editar oferta</a>
    </main>
         <aside class="sidebar">
            <h2>Conocimientos Deseados</h2>
            <ul class="skills">
                {{#each vacante.skills}}
                    <li class="skills-vacante">{{this}}</li>
                {{/each}}
            </ul>
        </aside>  
</div>

<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar Reclutador</h2>
        <p>Llena el siguiente formulario, sube tu curriculum y pronto te contactaremos</p>

        <form method="POST" action="/vacantes/{{vacante.url}}" class="default-form" enctype="multipart/form-data">
            <div class="campo">
                <label>Nombre</label>
                <input type="text" name="nombre" placeholder="Escribe tu nombre completo">
            </div>
            <div class="campo">
                <label>E-mail</label>
                <input type="email" name="email" placeholder="Ejemplo: usuario@gmail.com">
            </div>
            <div class="campo">
                <label>CV (PDF)</label>
                <div class="custom-file-input-wrapper">
                    <input type="file" name="cv" id="cv" class="custom-file-input" accept=".pdf">
                    <span class="custom-file-label">Seleccionar PDF</span>
                </div>
            </div>
            <div class="campo">
                <input type="submit" class="btn btn-verde_enviar" value="Enviar">
            </div>
        </form>

    </div>

    <div class="info-reclutador">
        <h2>Información Reclutador</h2>
        {{#if vacante.autor.nombre}}
            <p>{{vacante.autor.nombre}}</p>
        {{/if}}
        {{#if vacante.autor.imagen}}
            <img src="/uploads/perfiles/{{vacante.autor.imagen}}">
        {{/if}}
    </div>
</div>
